body {
    background-image: url("60ef7092831013.5e556dc3873d8.png");
    background-repeat: no-repeat;
    background-size:cover;
    color:blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

h1 {
    font-size: 60px;
}

.choice {
    border-color:darkturquoise;
    border-width: 50px;
    text-align: center;
}

.afterChoice {
    border-color:gold;
    border-width: 50px;
    text-align: center;
}

.footer {
    border-radius: 50px;
    background-color: grey;
}